* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  background-color: #ffeef4;
}

.header {
  padding: 40px;
  background-image: url("https://i.ibb.co/5YkQ7h4/header.gif");
  background-size: 100% 100%;
  color: #ec3778;
  text-align: center;
  font-size: 30px;
}

.header p{
  font-size: 13px;
}

.navbar {
  display: flex;
  background-color: #ec3778;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #f5f5f5;
  color: #ec3778;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #ffeef4;
  padding: 20px;
}

.borda {
  text-align: justify;
  font-size: 14px;
  border:2px solid #f8bbd0;
  padding: 16px;
}

.esquerda{
  float: left;
}

.direita{
  float: right;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.equipe {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.equipe p {
  width: 135px;
  text-align: center;
  font-size: 12px;
}

.main {
  flex: 70%;
  background-color: #ffeef4;
  padding: 20px;
}

.intro{
  text-align: justify;
  font-size: 16px;
}

.recursos {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recursos span{
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.recursos p {
  width: 135px;
  text-align: center;
  font-size: 10px;
}

.organiza {
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.organiza i{
  font-size:30px;
}

.funcionalidades-esquerda{
  color: white;
  text-align: center;
  font-size: 12px;
  flex-direction: column;
  background-color: #f8bbd0;
}

@media (max-width: 440px) {
  .organiza{
    flex-direction: wrap;
    }
}

@media (max-width: 440px) {
  .funcionalidades-esquerda, .celular{
    flex-direction: column;
    width: 100px;
    }
}

details {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

details > summary {
  padding: 5px 14px;
  width: 15em;
  background-color: #f8bbd0;
  border: none;
  color: white;
  box-shadow: 3px 3px 4px #ddd;
  cursor: pointer;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #fafafa;
  padding: 2px 6px;
  margin: 0;
  font-size: 14px;
  text-align: justify;
  padding: 10px;
  box-shadow: 3px 3px 4px #ddd;
}

.funcionalidades-esquerda p {
  width: 135px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 30px;
}

.efeito {
  transition: all 0.5s;
  border: 5px solid transparent;
}
.efeito:hover {
  border: 5px solid #f8bbd0;
  border-radius: 70%;
}

.espaco{
  margin-right: 80px;
  transition: all 0.5s;
  border: 5px solid transparent;
}

.espaco:hover{
  border: 5px solid #f8bbd0;
  border-radius: 70%;
}

.contato{
  margin-bottom: 70px;
}

.contato p{
  font-size: 13px;
}

.contato i{
  font-size:20px;
  color: #f8bbd0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.footer {
  background-color: #ffeef4;
  align-items: center;
  text-align: center;
  font-size: 12px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fim{
  text-align: left;
  font-size: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .grid,
  .navbar{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}
@media (min-width: 1490px) {
  .header {
    background-color: #fafafa;
    background-image: none;
  }
}
@media (max-width: 1200px) {
  .header {
    background-color: #fafafa;
    background-image: none;
  }
}
